.headtitle {
    text-align: center;
    position: relative;
}
.dropdown {
    position: relative;
}
.sidebar {
    border: 3px solid;
    position: absolute;
    width: 300px;
    height: auto;
    margin: 10px 10px 10px 0px;
}
.content {
    border: 0.5px solid;
    position: absolute;
    max-width: 900px;
    left: 310px;
    margin: 10px;
}
.aboutme {
    position: absolute;
    border: 0.5px solid;
    margin: 10px 0px;
    padding: 50px 0px;
    width: 150px;
}
.aboutmetext {
    position: absolute;
    border: 0.5px solid;
    left: 150px;
    min-width: 300px;
    margin: 10px 0px;
}
/*
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-menu {
    color: white;
    padding: 16px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.dropdown-menu:hover:not(.home){
    background-color: orange;
    color: white;
}
.dropdown-content {
    position: absolute;
    background-color: gray;
    display: none;
}
.dropdown-content a {
    color: white;
    padding: 12px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: black;
}
*/
nav ul {
    width: auto;
    background-color: gray;
    list-style-type: none;
    margin: 0;
    padding: 16px;
}
nav ul li {
    display: inline-block;
    width: 100px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    }
a {
    text-decoration: none;
    color: black;
}
h1 {
    font-size: 70px;
}